# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.DS_Store
.next/

# Translations	# Translations
*.pot

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env.d/development/*
!env.d/development/*.defaults
!env.d/development/*.e2e
env.d/terraform

# npm
node_modules
src/frontend/out/
tsconfig.tsbuildinfo
src/frontend/.config
src/frontend/.next
src/frontend/next-env.d.ts
.vite

# Mails
src/backend/core/templates/mail/

# Swagger
**/swagger.json

# Logs
*.log

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# Test & lint
.coverage
.pylint.d
.pytest_cache
.ruff_cache
db.sqlite3
.mypy_cache

# Site media
/data/

# IDEs
.idea/
.vscode/
*.iml
.devcontainer

# AI tooling
.claude
CLAUDE.md

# Various
.turbo

# Messages
.aws
.hypothesis
