{% extends "core/emails/_base.html" %}

{% block content %}
  <tr>
    <td style="padding:0 32px 24px;font-size:15px;line-height:1.5;color:#25252f;">
      Votre fichier <strong><em>{{ filename }}</em></strong> du transfert <strong>{{ transfer.title|default:filename }}</strong> vient d'être téléchargé.
    </td>
  </tr>

  <tr>
    <td style="padding:0 32px 8px;font-size:14px;color:#5d5d70;line-height:1.5;">
      Retrouvez l'historique complet de ce transfert dans votre récapitulatif.
    </td>
  </tr>
{% endblock %}
